:root {
  --logo-link-color-iris: #4d5ae5ff;
  --color-ocean: #404bbfff;
  --h-color-navy-blue: #2e2f42ff;
  --color-green: #31d0aaff;
  --p-color-slate: #434455ff;
  --color-light-slate: #8e8f99ff;
  --color-cornflower: #e7e9fcff;
  --color-cloud: #f4f4fdff;
  --color-navy-blue-modal: #2e2f4266;
  --color-grey: #2e2f42b3;
  --color-white: #ffffffff;
  --color-dairy: #fcfcfcff;

  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  --font-size: 16px;
  --font-weight: 500;
  --font-style: normal;
  --line-height: 1.5;
  --letter-spacing: 0.02em;
  --text-decoration: none;
  --text-transform: none;
}

body {
  color: var(--p-color-slate);
  background-color: var(--color-white);
  font-family: var(--primary-font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-decoration: var(--text-decoration);
  text-transform: var(--text-transform);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color-navy-blue);
}

a {
  text-decoration: none;
}

/*Головна сторінка*/

/*Логитип*/
.logo {
  color: var(--logo-link-color-iris);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-header {
  color: var(--h-color-navy-blue);
}
.logo-footer {
  color: var(--color-cloud);
}
.link {
  text-decoration: none;
}
/*Шапка сайту header*/
.header-address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link-style {
  color: var(--h-color-navy-blue);
}

.link-style:hover,
.link-style:focus,
.link-style:active {
  color: var(--color-ocean);
}

.adress-style {
  color: var(--p-color-slate);
  font-weight: 400;
}
.adress-style:hover,
.adress-style:focus,
.adress-style:active {
  color: var(--color-ocean);
}
/*section 1 Hero */
.hero-section {
  background-color: var(--h-color-navy-blue);
}
.hero-text {
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  color: var(--color-white);
  background-color: var(--logo-link-color-iris);

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  cursor: pointer;
}
.hero-button:hover .hero-button:focus {
  background-color: var(--color-ocean);
}

/*section 2*/
.section-title {
  text-align: center;
}
.p-text {
  font-weight: 400;
  color: var(--p-color-slate);
}

/*section 3 What are we doing*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
}
.title {
  font-size: 20px;
  line-height: 1.2;
}
/*section 4 Our Team*/
.our-section {
  background-color: var(--color-cloud);
}
.title {
  text-align: center;
}

.li-color {
  background-color: var(--color-white);
}

/*Футер*/
.footer-text {
  color: var(--color-cloud);
}
.footer-color {
  background-color: var(--h-color-navy-blue);
}

/*Portfolio*/
.portfolio-button {
  color: var(--logo-link-color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.04em;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
